<dl>
  <dt>T<sub>j</sub></dt>
  <dd>Temperature of the junction. Maximum allowed is 175 °C</dd>
  <dt>R<sub>θj-c</sub></dt>
  <dd>Termal resistance — junction to case.</dd>
  <dt>P</dt>
  <dd>Power to be dissipated.</dd>
  <dt>R<sub>θc-h</sub></dt>
  <dd>Thermal resistance — case to heatsink.</dd>
  <dt>T<sub>a</sub></dt>
  <dd>Ambient temperature.</dd>
  <dt>R<sub>θh-a</sub></dt>
  <dd>The resulting thermal resistance of the heatsink to air.</dd>
</dl>
